body
{
font-family:arial;
color:white;
background-color:red
}
h1
{
    font-family:elephant
}
h2
{
	font-family:ARIAL;
}
h3
{
	font-family:VERDANA;
}
h4
{
    font-family:CALIBRI;
}
h5
{
	font-family:forte;
}
h6
{
	font-family:cambria;
}
h7
{
	font-family:cooper black;
}